
<table class="scoreTable" border="1" style="border-spacing: 5px;border-radius:10px">
    <tr>
        <th class="scoreCard">CSK</th>
        <th class="scoreCard">Batsman - 1</th>
        <th class="scoreCard">Batsman - 2</th>
        <th class="scoreCard">Over</th>
        <th class="scoreCard">Bowler</th>
    </tr>
    <tr>
        <td class="scoreCard">{{this.variables.score}} - {{this.variables.wicketsGone}}</td>
        <td class="scoreCard">{{this.variables.currentBatsman1}} - {{this.variables.runsBatsman1}}</td>
        <td class="scoreCard">{{this.variables.currentBatsman2}} - {{this.variables.runsBatsman2}}</td>
        <td class="scoreCard">{{this.variables.over}}</td>
        <td class="scoreCard">{{this.variables.currentBowler}}
            {{this.variables.runsBowler1}}-{{this.variables.wicketsBowler1}}</td>
    </tr>
</table>
<br>
<br>
